<div class="wrapper">
    <header class="header" style="background-image:url(img/topbg.jpg);background-position:top center;">
        <div class="container clearfix">
            <button class="nav-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="RECEPTI" height="18" width="94">
                </a>
            </div>
            <nav id="nav">
                <button class="nav-close">&times;</button>
                <ul class="nav-top">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a ng-click="addrecipe()">Add Recipe</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="header-info">
                <h1 class="title">Whether you’re looking for meal ideas or need a specific recipe</h1>
                <div class="subtitle">We have 1000’s of recipes for all occasions</div>
                <a ng-click="addrecipe()">Add Recipe</a>
            </div>
        </div>
    </header>

    <div class="main clearfix">
        <div class="container">
            <div class="articles">
                <div class="articles-header clearfix">
                    <h1 class="title">RECEPTI</h1>
                    <br/><br/>
                    <div class="articles-filter">
                        <ul>
                            <a ng-click="filterRecipeCategories.category = ''">All | </a>
                            <li ng-repeat="recipeCategory in recipeCategories">
                                <a ng-click="filterRecipeCategories.category = recipeCategory">
                                  {{recipeCategory}} |
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.articles-header -->
                <div class="articles-items clearfix">
                    <article class="articles-item" dir-paginate="recipe in recipes | itemsPerPage: 8 |
                    filter:filterRecipeCategories | orderBy : '-created_date'">
                        <div class="articles-item-img">
                            <a href="full-page.html">
                                <img src="{{recipe.img_url}}" alt="{{recipe.title}}">
                            </a>
                        </div>
                        <div class="articles-item-description">
                            <h3 class="title">
                                <a href="full-page.html">{{recipe.title}}</a>
                            </h3>
                            <div class="articles-item-text">
                                <p>{{recipe.ingredients}}</p>
                            </div>
                            <div class="articles-item-text">
                                <p>{{recipe.directions}}</p>
                            </div>
                            <div class="articles-item-footer clearfix">
                                <div class="articles-item-date">{{recipe.created_date}}</div>
                                <div class="articles-item-stats">
                                    <span class="articles-item-views">
                                        <i class="fa fa-eye" aria-hidden="true"></i> 64
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- /.articles-items -->
            </div>
            <!-- /.articles -->

            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
    <!-- /.main -->
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="nav-footer">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a ng-click="addrecipe()">Add Recipe</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">&copy; 2018 Copyright</div>
        </div>
    </footer>
</div>
<!-- /.wrapper -->