<div class="wrapper">
    <header class="header" style="background-image:url(img/topbg.jpg);background-position:top center;">
        <div class="container clearfix">
            <button class="nav-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="RECEPTI" height="18" width="94">
                </a>
            </div>
            <nav id="nav">
                <button class="nav-close">&times;</button>
                <ul class="nav-top">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a ng-click="addrecipe()">Add Recipe</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="header-info">
                <h1 class="title">Whether you’re looking for meal ideas or need a specific recipe</h1>
                <div class="subtitle">We have 1000’s of recipes for all occasions</div>
                <a ng-click="addrecipe()">Add Recipe</a>
            </div>
        </div>
    </header>

    <div class="main clearfix">
        <div class="container">
            <div class="articles">
                <div class="articles-header clearfix">
                    <h2 class="title">KORISNICI</h2>
                    <div class="articles-filter">
                        <ul>
                            <li class="active">
                                <a href="index.html">
                                    Fast Food
                                </a>
                            </li>
                            <li>
                                <a href="index-category-organic-food.html">
                                    Organic Food
                                </a>
                            </li>
                            <li>
                                <a href="index-category-salads.html">
                                    Salads
                                </a>
                            </li>
                            <li>
                                <a href="index-category-hot-dishes.html">
                                    Hot Dishes
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.articles-header -->
                <div class="articles-items clearfix">
                    <article class="articles-item" ng-repeat="user in users">
                        <div class="articles-item-img">
                            <a href="full-page.html">
                                <img src="../../img/facewomen.jpg" alt="{{user.first_name}} {{user.last_name}}">
                            </a>
                        </div>
                        <div class="articles-item-description">
                            <h3 class="title">
                                <a href="full-page.html">{{user.first_name}} {{user.last_name}}</a>
                            </h3>
                            <div class="articles-item-text">
                                <p>{{user.email}}</p>
                            </div>
                            <div class="articles-item-text">
                                <p>{{user.zip}} {{user.city}}</p>
                            </div>
                            <div class="articles-item-text">
                                <p>{{user.country[0]}}</p>
                            </div>
                            <div class="articles-item-footer clearfix">
                                <div class="articles-item-date">{{user.created_date}}</div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- /.articles-items -->
            </div>
            <!-- /.articles -->

        </div>
    </div>
    <!-- /.main -->
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="nav-footer">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a ng-click="addrecipe()">Add Recipe</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">&copy; 2018 Copyright</div>
        </div>
    </footer>
</div>
<!-- /.wrapper -->

<div>
    <div><h2>Svi Korisnici</h2></div>
    <br/>
</div>
<div ng-repeat="user in users">
    <ul>
        <li>{{user.first_name}}</li>
        <li>{{user.last_name}}</li>
        <li>{{user.email}}</li>
        <li>{{user.zip}} {{user.city}}</li>
        <li>{{user.country[0]}}</li>
        <li>{{user.created_date}}</li>
    </ul>
</div>